@model fileUploadByMVC.Models.TestModels
@{
    ViewBag.Title = "Upload";
}

<!DOCTYPE html>
<html>
<head>
    <title>普通上传</title>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>
</head>
<body>    
    @using (Html.BeginForm("Upload", "Test", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(mod => mod.title)
        <br />
        @Html.EditorFor(mod => mod.title)
        <br />     <br />
        @Html.LabelFor(mod => mod.Content)
        <br />
        @Html.EditorFor(mod => mod.Content)
        <br />
        <span>上传文件</span>
        <br />
        <input id="FileUploadTest" type="file" name="file" />
    }
    <div id="MVCFileUploadbtn">MVCFileUploadbtn</div>

    <script type="text/javascript">
        $("#MVCFileUploadbtn").click(function () {
            var formData = new FormData();
            formData.append('file', $('#FileUploadTest')[0].files[0]);
            console.log(formData);
            $.ajax({
                url: "./Upload/Upload",
                type: 'POST',
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function (data) {
                    alert(data);
                }
            });
                
        });
    </script>
</body>
</html>

